{#
/**
 * @file
 * Default implementation for a custom layout bento section.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 * - region_attributes: HTML attributes for the region <div>.
 * - settings: An array of configured settings for the layout.
 *
 * @ingroup themeable
 */
#}

<div{{attributes.addClass(classes)}}>
	{% if content %}
		<div class="columns-wrapper">
			{% if content.first %}
				<div {{ region_attributes.first.addClass('col') }}>
					{{ content.first }}
				</div>
			{% endif %}
			{% if content.second %}
				<div {{ region_attributes.second.addClass('col') }}>
					{{ content.second }}
				</div>
			{% endif %}
			{% if content.third %}
				<div {{ region_attributes.third.addClass('col') }}>
					{{ content.third }}
				</div>
			{% endif %}
		</div>
	{% endif %}
</div>
